div.container
    div.row
      div.col-sm-6.col-md-4.col-md-offset-4
        .text-center
          div.account-wall
            form(class='form-signin')
              div(class="alert", role="alert")
                span(class="glyphicon glyphicon-exclamation-sign", aria-hidden="true")
                span(class="sr-only") Enter a valid email address
              input(ng-model='authLoginCtrl.user.email', class='form-control', placeholder='Email',required, autofocus)
              input(ng-model='authLoginCtrl.user.password', type='password', class='form-control', placeholder='Password', required)
              button(class='btn btn-lg btn-primary btn-block', ng-click='authLoginCtrl.login()') Log in
              span.clearfix